@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root{
  --line-border-fill:#3498db;
  --line-border-empty: #e0e0e0 ;
}
*{
  box-sizing: border-box;
}

body{
  background-color: #f6f7fb;
  font-family: 'Roboto', sans-serif;
  margin : 0; /* The space you will see on the text project starter is due to h1 */
  display: flex; /* Center everything and put it in row */

  align-items: center; /* Since it is column. The align-items will align vertically */
  justify-content: center; /*horizontal align*/
  height: 100vh;
  overflow: hidden;
}

.container{
  text-align: center;
}

.progress-container{
  display: flex; /*default behavior*/
  justify-content: space-between; 
  position: relative;
  margin-bottom: 30px;
  /*How to spread the numbers*/
  max-width: 100%;
  width: 350px;;
}


/*blue line and gray line*/

/*empty line */
.progress-container::before{
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%; /*0 percent of th e current div*/
  left: 0%;
  transform: translateY(-50%);
  z-index: -1; /*behind the circle*/
  height: 4px; 
  width: 100%;
}

/*blue line*/
.progress{
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1; /*behind the circle*/
  height: 4px; 
  width: 0%;
  transition: 0.4s ease;
}

.circle{
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease ;
}

.circle.active{
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: whitesmoke;
  border-radius: 6px;
  border: 0px;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active{
  transition: scale(0.98);
}

.btn:focus{
  outline: 0;
}

.btn:disabled{
  background-color: var(--line-border-empty);
  cursor: not-allowed;

}